{% load i18n %}
{% load staticfiles %}
{% load webdesign %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">

    {% block extra-meta %}
    <title></title>
    {% endblock %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block extra-css %}
    {% endblock %}
    </head>

    <body>
    <div class="se-pre-con"></div>

    {% block container %}
    {% endblock %} 

    {% block templates %}
    {% endblock %}

    <!-- script references -->
    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/underscore-min.js' %}"></script>
    <script src="{% static 'js/backbone-min.js' %}"></script>
    <script src="{% static 'js/backbone-tastypie.js' %}"></script>
    <script src="{% static 'select2/dist/js/select2.min.js' %}"></script>

    <script type="text/javascript">
        $('select').select2();
        $("#id_workplace").change(function() {
            window.location.href = "?workplace_pk=" + $(this).val();
        });
    </script>

    {% block extra-js %}
    {% endblock %}
	</body>

</html>