{% extends 'squares.html' %}
{% load i18n %}
{% load staticfiles %}
{% load webdesign %}


{% block extra-css %}
  {{ block.super }}
  <link href="{% static 'css/bg.css' %}" rel="stylesheet">
{% endblock %}



{% block container %}
{{ block.super }}
<img src="/static/img/wallpaper.jpg" id="bg" alt="">
<div class="row" style="margin-top: 15%">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Sign' %} <span class="glyphicon glyphicon-log-in pull-right" aria-hidden="true"></h3>
      </div>
      <div class="panel-body">
          <form role="form" method="post">
              {% csrf_token %}
              <fieldset>
                  <div class="form-group">
                      {{form.username}}
                  </div>
                  <div class="form-group">
                      {{form.password}}
                  </div>
                  <!-- Change this to a button or input when using this as a form -->
                  <button type="submit" class="btn btn-sm btn-success">{% trans 'Sign' %}</button>
              </fieldset>
          </form>
      </div>
    </div> 
  </div>
</div> 
{% endblock %} 


