{% extends 'squares.html' %}

{% load i18n %}
{% load staticfiles %}
{% load webdesign %}


{% block extra-css %}
  {{ block.super }}
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <link href="{% static 'css/bg.css' %}" rel="stylesheet">
{% endblock %}


{% block container %}
{{ block.super }}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="{% static 'img/logo.gif' %}" alt="{{project}}" width=40 height=40 style="margin-top: 5px; float: left;">
        <a class="navbar-brand" href="#!/" style="float: left;">{{project}}</a>
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" id="spin-loader" style="float: left;"></span>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left is-auth" role="search">
          <div class="form-group">
            {{workplace.workplace}}
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><button class="btn btn-default add-square" style="margin-top: 8px;margin-right: 15px;"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {% trans 'square' %}</button></li>
          {% comment %}
          <li><a href="#!/settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
          <li><a href="#!/profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
          {% endcomment %}
          <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {% trans 'на главную' %}</a></li>
          <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="container" class="container">
  </div>
{% endblock %} 


{% block templates %}
  <script type="text/template" id="workplace"> 
    <img src="<%= workplace.get('background_image') %>" id="bg" alt="">
    <div class="workplace">
        <div id="main">
        </div>
        <ul id="right-menu" class="nav nav-pills nav-stacked">
        </ul>
    </div>
  </script>

  <script type="text/template" id="square"> 
    <div class="square" data-id="<%= square.cid %>" style="
        position: absolute;
        top: <%= square.get('top') %>px;
        left: <%= square.get('left') %>px;
        z-index: <%= square.get('z_index') %>;
      ">
      <div class="panel panel-default draggable resizable ui-widget-content" style="
        min-width: <%= square.get('min_width') %>px;
        width: <%= square.get('width') %>px;
        min-height: <%= square.get('min_height') %>px;
        height: <%= square.get('height') %>px;
      ">
        <div class="panel-heading" style="
          height: 40px;
          background-image: linear-gradient(to bottom, #F5F5F5 0px, <%= square.get('background_color') %> 100%);
          background-color: <%= square.get('background_color') %>;
          ">
          <div class="pull-left draggable-handler">
            <span class="glyphicon glyphicon-move moving" aria-hidden="true"></span>
          </div>
          <div class="pull-left square-title" id="square-title-<%= square.get('id') %>">
            <% if (square.get('title_edit_mode')) { %>
              <input id="input-<%= square.get('id') %>" value="<%= square.get('title') %>">
              <span class="glyphicon glyphicon-floppy-disk action-title-save action pull-right" aria-hidden="true"></span>
            <% } else { %>
              <span class="title"><%= square.get('title') %></span>
            <% } %>
          </div>
          <div class="pull-right">
            <span class="glyphicon glyphicon-minus-sign action-collapse action" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-remove-sign action-remove action" aria-hidden="true"></span>
          </div>
        </div>
        <div class="panel-body square-data" >
          <% if (square.get('data_edit_mode')) { %>
            <textarea class="square-data-textarea" id="textarea-<%= square.get('id') %>"><%= square.get('data') %></textarea>
            <br>
            <span class="glyphicon glyphicon-floppy-disk action-data-save action pull-right" aria-hidden="true"></span>
          <% } else { %>
            <%= square.get('data') %>
          <% } %>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="item"> 
    <li>
      <button class="btn item" data-id="<%= item.cid %>" style="
        background-image: linear-gradient(to bottom, #F5F5F5 0px, <%= item.get('background_color') %> 100%);
        background-color: <%= item.get('background_color') %>;
        ">
        <% if (item.get('is_collapsed')) { %>
        <span class="glyphicon glyphicon-list-alt pull-left" aria-hidden="true"></span>
        <% } else { %>
        <span class="glyphicon glyphicon-record pull-left" aria-hidden="true"></span>
        <% } %>
        <span class="pull-right item-title"><%= item.get('title') %></span>
      </button>
    </li>
  </script>

  <script type="text/template" id="settings">
    <div class="row" style="margin-top: 5%;">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Settings <span class="glyphicon glyphicon-cog pull-right" aria-hidden="true"></h3>
          </div>
          <div class="panel-body">
              <form role="form">
                  <fieldset>
                      <div class="form-group">
                          <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">
                      </div>
                      <div class="form-group">
                          <input class="form-control" placeholder="Password" name="password" type="password" value="">
                      </div>
                      <!-- Change this to a button or input when using this as a form -->
                      <a href="javascript:;" class="btn btn-sm btn-success">Save</a>
                  </fieldset>
              </form>
          </div>
        </div> 
      </div>
    </div> 
  </script>

  <script type="text/template" id="profile">
    <div class="row" style="margin-top: 5%;">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Profile <span class="glyphicon glyphicon-user pull-right" aria-hidden="true"></h3>
          </div>
          <div class="panel-body">
              <form role="form">
                  <fieldset>
                      <div class="form-group">
                          <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">
                      </div>
                      <div class="form-group">
                          <input class="form-control" placeholder="Password" name="password" type="password" value="">
                      </div>
                      <!-- Change this to a button or input when using this as a form -->
                      <a href="javascript:;" class="btn btn-sm btn-success">Save</a>
                  </fieldset>
              </form>
          </div>
        </div> 
      </div>
    </div> 
  </script>
{% endblock %}


{% block extra-js %}
  {{ block.super }}
  <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
  <script type="text/javascript">
        Backbone.Tastypie.apiKey.username = '{{user.username}}';
        Backbone.Tastypie.apiKey.key = '{{user.api_key.key}}';
        var currentWorkplacePk = '{{request.workplace.pk}}';
        var filebrowserUploadUrl = '{% url "files-uploader" %}';
        var filebrowserBrowseUrl = '{% url "files-browser" %}';
        var apiPrefix = '{{url_api_prefix}}';
  </script>
  <script src="{% static 'mvc/models.js' %}"></script>
  <script src="{% static 'mvc/collections.js' %}"></script>
  <script src="{% static 'mvc/views.js' %}"></script>
  <script src="{% static 'mvc/controllers.js' %}"></script>
{% endblock %}
