#bg {
    position:fixed;
    top:0;
    left:0; 
    min-width:100%;
    min-height:100%;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}