body{
    background-color: gray;
    height: 100%;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/static/img/preloader.gif) center no-repeat #fff;
    opacity: 0.8;
    filter: alpha(Opacity=80);
}

#container {
    width: 100%; 
    margin-top: 50px;
    height: 100%;
}

#main {
    width: 100%;
    padding: 10px;
}

#right-menu{
    width: 200px;
    position: fixed;
    top: 70px; 
    right: 5px;
    overflow-y:auto;
    height: 90%;
    background-color: gray;
    opacity: 0.9;
    filter: alpha(Opacity=90);
    border-radius: 3px; 
}

#right-menu li{
    margin: 10px;
}

#right-menu li button{
    width: 100%;
}

#spin-loader{
    display: none;
    margin-left: 10px;
}

#spin-loader.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.glyphicon.action{
    cursor: pointer;
}

.glyphicon.moving{
    cursor: move;
}

.square{
    opacity: 0.95;
    filter: alpha(Opacity=95); 
}

.square-title{
    margin-left: 20px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    width: 70%;
    min-width: 20px;
    min-height: 20px;
}

.square-title input {
    width: 90%;
}

.item-title{
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    width: 80%;
    text-align: left;
}

.panel-body{
    height: 90%;
    overflow: auto;
}

.square-data textarea{
    height: 100%;
    width: 100%;
    resize: none;
}

#id_workplace{
    width: 200px;

}
.action-title-save {
    margin-top: 5px;
}